# Auto detect text files and perform LF normalization
* text=auto

# Explicitly set line endings for specific files
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.icns binary
*.woff2 binary
